{{template "base" .}}

{{define "title"}}
    Virtual Terminal
{{end}}

{{define "content"}}
    <h2 class="mt-3 text-center">My Shop</h2>
    <hr>
    <div class="text-center">
        <ul><a href='/virtual-terminal'>Virtual Terminal</a></ul>
        <ul><a href='/charge-once'>Charge Once</a></ul>
    </div>

{{end}}